posts/langsmith-with-n8n-docker/LangSmith_Env_Setup_Check.json
{
  "name": "LangGraph Env Setup Check",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -280
      ],
      "id": "17ab3b3f-c1d7-4a06-bbfb-d2b2701bc6df",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"\\nSuccess! n8n can see the relevant environment variables: \\n\\n\" + $input.first().json.stdout)\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        -380
      ],
      "id": "c1e45a78-4968-44aa-98f0-f89dbae47c05",
      "name": "Success"
    },
    {
      "parameters": {
        "command": "env | grep 'LANG'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -400,
        -280
      ],
      "id": "cd8d6dc0-cd09-42eb-be2a-19ff137bcf7e",
      "name": "Check For LANGCHAIN Variables",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"\\nSomething's gone wrong - n8n can't see the relevant environment variables.\")\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        -180
      ],
      "id": "8dfa0260-df02-4a23-bb45-a7daecc851b1",
      "name": "Error"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Check For LANGCHAIN Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For LANGCHAIN Variables": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79f0191d-053c-40ff-b330-843ef56b0a45",
  "meta": {
    "instanceId": "ac63467607103d9c95dd644384984672b90b1cb03e07edbaf18fe72b2a6c45bb"
  },
  "id": "dS5pyEXNr5WJyuQn",
  "tags": []
}